<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".Models.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ProjectEventLotteryApp"
        tools:replace="android:allowBackup,android:fullBackupContent,android:dataExtractionRules">
        <activity
            android:name=".Activities.OrganizerPrivateInvitationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".EventsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CriteriaAppGuideActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminImagesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganizerWaitlistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminProfilesListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminOrganizersListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminEventsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.adminNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EntrantSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganizerEnrolledActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganizerInvitedActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganizerDeclinedActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EventCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationsListActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_KEY}" />
    </application>

</manifest>